
<!-- inicio d-flex -->
<div class="container">

  <br>
  <h2 class="display-6 titulo-black text-center">BOTs</h2>
  <br>
  <!-- CONTEUDO -->
  <div class="content p-1">
    <div class="list-group-item">
      <div class="container">
        <!-- Button submit(enviar) formulário -->
        <br />
        <div class="row">
          <div class="col-md-2">
            <button type="submit" class="btn sc-botao-whats"><i class="fa fa-phone" aria-hidden="true"></i>Bot
              Whatts</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2">
            <a href="bot_telaEmail.html"><button type="submit" class="btn sc-botao-email"><i class="fa fa-envelope"
                  aria-hidden="true"></i>Bot Email</button></a>
          </div>
        </div>
        <br><!-- fim do button submit(enviar) formulário -->


        </form>
        <!--Fim formulário de novo cadastro  -->

      </div>
    </div> <!-- final d-flex -->
  </div> <!-- FINAL de conteúdo -->
</div>