
<h2 class="display-6 titulo text-center">Bot Email - Tela</h2>
<!-- CONTEUDO -->
<div class="content p-1">
    <div class="list-group-item">
        <!-- inicio d-flex -->
        <div class="d-flex">
            <!-- <div class="mr-auto p-0">
                    </div> -->
           <!--<a href="#">
                <div class="p-2">
                    <button class="btn sc-botao-novo-cadastrar">
                        NOVO CADASTRO
                    </button>
                </div>
            </a>-->
            <a href="#" class="">
                <div class="p-2 ml-5">
                    <button class="btn btn-info">
                        <!--<?php echo $qtd_reg?> -->
                    </button>
                </div>
            </a>
        </div>
        <!-- area reservada para alert -->
        <div class="alert alert-success text-left" role="alert" hidden>
            Usuário excluído com sucesso !!!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- area reservada para alert -->
        <hr>
        <div class="container">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <!-- <th class="text-center">Contador</th> -->
                        <th class="text-center">Enviar</th>
                        <th class="text-center">Id</th>
                        <th class="text-center">Nome</th>
                        <th class="text-right">Apelido</th>
                        <th class="text-right">Data Cadastro</th>
                        <th class="text-right">Ativo ?</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <!--<?php
                $contador = count($pessoas);
                foreach ($pessoas as $pessoa) : ?>-->
                    <!--<tr>
                        <td> <?php echo $pessoa->peo_id ?></td>
                        <td> <?php echo $pessoa->peo_nome ?></td>
                        <td class="text-right"><?php  echo $pessoa->peo_apelido ?></td>
                        <td class="text-right"><?php  echo date('d-m-Y', strtotime($pessoa->peo_data)) ?></td>
                        <td class="text-center"><?php echo ($pessoa->peo_ativo ? 'Sim' : 'não') ?> </td>-->
                        <td class="text-center">
                            <span class="d-none d-md-block">
                                <a href="#" class="btn sc-botao-editar" title="Enviar separadamente">
                                    Enviar
                                </a>
                                <!--<a href="<?php echo base_url('pessoas/apagar/') . $pessoa->peo_id ?>" class="btn btn-outline-danger btn-sm" data-toggle="modal000" data-target="#apagarRegistro" title="Apagar cadastro">
                                    Excluir
                                </a>-->
                            </span>
                        </td>
                    </tr>
                    <!--<?php
                    # $contador--;
                endforeach; ?>-->
            </table>
            <div class="row">
                <div class="col-md-4">
                    <a href="bot_email.html"><button class="btn sc-botao-escrever">Escrever</button></a>
                </div>
            </div>
            
            <!-- PAGINATOR -->
            <!--<div class="text-center" <?php echo ($qtde_paginas > 1) ? "" : "style='display: none;'" ?>>
                <?php echo $paginator ?>
            </div>-->
            <!-- END PAGINATOR -->


           
        </div><!-- final d-flex -->
    </div>
</div> <!-- FINAL de conteúdo -->

<!--<?php

/*

 <div class="text-center" <?php echo ($qtde_paginas > 1) ? "" : "style='display: none;'" ?>>
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link  <?php echo $btnA ?>" 
                                href="<?php echo base_url('pessoas/pagina/') . 1 ?>"
                                tabindex="-1">
                                Primeiro
                            </a>
                        </li>
                        <li class="page-item">
                            <?php $pagina_anterior = ($pagina - 1) < 1 ? 1 : ($pagina - 1); ?>
                            <a class="page-link  <?php echo $btnA ?>" 
                               href="<?php echo base_url('pessoas/pagina/') . $pagina_anterior ?>"
                               tabindex="-1">
                             Anterior
                            </a>
                        </li>
                        <?php
                           $pag_para_exibir_botao = $pagina;
                           for($i = $pag_para_exibir_botao; $i < ($pag_para_exibir_botao + $qtde_botoes) ; $i++): //($pagina + $qtde_botoes); $i++):     
                                ?>  
                                <li class="page-item" <?php echo ($i > 118) ? 'hidden' : ''?>>
                                     <a class="page-link <?php echo ($pag_para_exibir_botao == $i ) ? 'active' : ' '?>" 
                                         href="<?php echo base_url('pessoas/pagina/') . $i ?>">
                                         <?php echo $i?>
                                         <span class="<?php echo ($pagina = $i) ? 'sr-only' : ' '?>"></span> 
                                     </a>
                                 </li> 
                        <?php

                           endfor;
                           $pag_para_exibir_orig = $i;
                        ?>


                        <li class="page-item">
                            <?php
                              $pagina_proximo = 
                              ($pagina + 1) > $qtde_paginas ? ($qtde_paginas - $qtde_botoes + 1) : ($pagina + 1);
                            ?>
                            
                            <a class="page-link  <?php echo $btnA ?>" href="<?php echo base_url('pessoas/pagina/') . $pagina_proximo ?>"
                               tabindex="-1">
                             Próximo
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link  <?php echo $btnA ?>" 
                                href="<?php echo base_url('pessoas/pagina/') . ($qtde_paginas - $qtde_botoes + 1)  ?>"
                                tabindex="-1">
                                Último
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
 */
 ?>-->


