body {
  background-color: #1e2835;
}

.menu-header {
  color : #FFF !important;
}

.sidebar {
  background-color: #222c3c;
  min-width: 250px;
  max-width: 250px;
  min-height: calc(100vh - 56px);
  transition: all 0.3s;
}

.sidebar ul li a {
  display: block;
  padding: 0.75rem 1rem;  /* .75 superior e 1 para laterais */
  color : #c7cace;
  text-decoration: none;
}

.sidebar ul li a:hover, .sidebar ul .active a {
  color : #ecedee;
  background-color: #354358;
}

/* personalizar submenu (ul ul) dois ul pois é sub menu*/
.sidebar ul ul a{
  padding-left: 2.5rem;
  background-color: #1e2835;
}
/*Seletor utilizado para ativar o botão ocultar menu em PC*/ 
.sidebar.toggled{
  margin-left: -250px;
}

@media (max-width: 768px) {
  .sidebar {
    margin-left: -250px;  /* faz sumir */
  }

  .sidebar.toggled {      /* coloca toggle 0 para nao atrapalhar .sidebar */
    margin-left: 0px;
  }
}

/* Menu do sidebar para apresentar uma seta para baixo ou para cima quando abre um submenu*/
.sidebar [data-toggle="collapse"]{
  position: relative;
}
.sidebar [data-toggle="collapse"]:before{
  content: "\f0d7";  /* preenche com um icone */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 1rem;
}

/* coloca uma bem discreta cor para o dropdown menu */
.sidebar [aria-expanded="true"]{
  background-color: #19222d;
}

/* muda icone para seta pra cima :before (obrigatorio)*/
.sidebar [aria-expanded="true"]:before {
  content: "\f0d8";
}

.content {
    width: 100%;
}

.titulo {
    font-size: 2.0rem !important;
}

.titulo-black {
  font-size: 2.0rem !important;
  color: #fff;
}

.sc-input {
  background-color: #354554; 
  color: #fff; 
  border-radius: 25px;
}

.sc-botao-acao {
  color: #fff; 
  background-color: #5bc0de; 
  border-radius: 18px;
  width: 140px;
  font-size: 16px;
  transition: 0.5s ease-in-out;
}

.sc-botao-acao:hover{
  background-color: #5dd55d;
}

.sc-botao-acao-m {
  color: #fff; 
  background-color: #5bc0de; 
  border-radius: 18px;
  width: 220px;
  font-size: 16px;
  transition: 0.5s ease-in-out;
}

.sc-botao-acao-m:hover{
  background-color: #5dd55d;
}

.sc-botao-acao-mt {
  color: #fff; 
  background-color: #ff8000; 
  border-radius: 18px;
  width: 220px;
  font-size: 16px;
  transition: 0.5s ease-in-out;
}

.sc-botao-acao-mt:hover{
  background-color: #5dd55d;
}

.sc-botao-acao-g {
  color: #fff; 
  background-color: #5bc0de; 
  border-radius: 18px;
  height: 3rem;
  width: 240px;
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

.sc-botao-acao-g:hover{
  background-color: #5dd55d;
}



.sc-botao-voltar{
  color: #fff; 
  background-color: #c0c0c0;
  border-radius: 18px; 
  width: 140px;
  transition: 0.5s ease-in-out;
}

.sc-botao-voltar:hover{
  background-color: #808080;
}

.sc-barra-cab{
  background-color: #0000a0;
}

.sc-menu-top{
  color: #ffffff; 
  width: 140px;
  height: 40px;

}

.sc-menu-top:hover{
  background-color: #289b28;
}

.sc-menu-logo{
  color: #ffffff; 
  width: 140px;
  height: 40px;
  font-size: 19px;
}

